mixin product(data)
  .product
    .product__content
      a.product__image
        +img("content/products", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
      .product__body
        a.product__title!=data.title
        .product__article
          span__article-label Артикул:
          span__article-value!=data.article.number
    ul.product__characteristics.list-reset
      li.characteristics
        span.product__characteristics-label Длина:
        span.product__characteristics-value!=data.characteristics.length
      li.characteristics
        span.product__characteristics-label Высота:
        span.product__characteristics-value!=data.characteristics.height
      li.characteristics
        span.product__characteristics-label Ширина:
        span.product__characteristics-value!=data.characteristics.width
      li.characteristics
        span.product__characteristics-label Вес изделия:
        span.product__characteristics-value!=data.characteristics.weight
    .product__actions
      .product__price от
        =" "
        span!=data.price
        =" ₽/шт."
      a.btn Оформить заявку
